[submodule "vendor/lua-curl"]
	path = vendor/lua-curl
	url = git://github.com/msva/lua-curl.git
[submodule "vendor/luaunit"]
	path = vendor/luaunit
	url = git://github.com/bluebird75/luaunit.git
[submodule "vendor/LuaJIT"]
	path = vendor/LuaJIT
	url = http://luajit.org/git/luajit-2.0.git
[submodule "vendor/gnugo"]
	path = vendor/gnugo
	url = git://git.savannah.gnu.org/gnugo.git
